# --- DATABASE CONFIG ---
DB_HOST=localhost               # Khi chạy Docker, sửa thành: postgres
POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=your_password_here
POSTGRES_PORT=5432

# --- RABBITMQ CONFIG ---
RABBIT_HOST=localhost            # Khi chạy Docker, sửa thành: rabbitmq
RABBITMQ_USER=myuser
RABBITMQ_PASS=your_password_here
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

# --- ELASTICSEARCH CONFIG ---
ES_HOST=localhost          # Khi chạy Docker, sửa thành: elasticsearch
ELASTIC_PASSWORD=your_password_here
ES_PORT=9200
KIBANA_PORT=5601

# --- REDIS CONFIG ---
REDIS_HOST=localhost            # Khi chạy Docker, sửa thành: redis
REDIS_PORT=6379
REDIS_PASSWORD=your_password_here

# --- TELEGRAM BOT CONFIG ---
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# --- JWT CONFIG ---
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION=86400000