services:
  elasticsearch:
    image: 'docker.elastic.co/elasticsearch/elasticsearch:7.17.10'
    environment:
      - 'ELASTIC_PASSWORD=${ELASTIC_PASSWORD}'
      - 'discovery.type=single-node'
      - 'xpack.security.enabled=false'
    ports:
      - '${ES_PORT}:9200'

  kibana:
    image: 'docker.elastic.co/kibana/kibana:7.17.10'
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - '${KIBANA_PORT}:5601'
    depends_on:
      - elasticsearch

  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=${POSTGRES_DB}'
      - 'POSTGRES_PASSWORD=${POSTGRES_PASSWORD}'
      - 'POSTGRES_USER=${POSTGRES_USER}'
    ports:
      - '${POSTGRES_PORT}:5432'

  rabbitmq:
    image: 'rabbitmq:3-management-alpine'
    environment:
      - 'RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASS}'
      - 'RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}'
    ports:
      - '${RABBITMQ_PORT}:5672'
      - '${RABBITMQ_UI_PORT}:15672'

  redis:
    image: 'redis:latest'
    # Câu lệnh để kích hoạt mật khẩu cho Redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - '${REDIS_PORT}:6379'

  app:
    env_file:
      - .env.secret # Chỉ định file cụ thể ở đây
    build: . # Docker sẽ tự build từ file Dockerfile của Tâm
    container_name: finance-tracker-app
    ports:
      - '8080:8080'
    environment:
      # Kết nối Database (Lấy từ .env của Tâm đã có sẵn ở trên)
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      
      # KẾT NỐI TELEGRAM BOT (Quan trọng nhất cho con Bot giám sát)
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
      
      # Kết nối các dịch vụ khác nếu cần
      - SPRING_REDIS_HOST=redis
      - SPRING_RABBITMQ_HOST=rabbitmq
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - elasticsearch